* { /* * aplicável a todos os elementos */
  margin:0;
}

#container { /* aplicavel ao elementos de id= container*/
  width: 300px ;
}

.App { /* aplicável ao elemento className= App*/
  margin: 40px;
}

h1 { /* aplicável a tag html h1*/
  color:red;
  font-size: 30px;
  background: green;
}
