* { /* * aplicável a todos os elementos */
  margin:10;
}

#container { /* aplicavel ao elementos de id= container*/
  width: 800px ;
}

.App { /* aplicável ao elemento className= App*/
  margin: 40px;
}

h1 { /* aplicável a tag html h1*/
  border: 1px solid red;
  margin: 20px; /* espaços fora da caixa*/
  padding: 60px; /* espaços dentro da caixa*/
}
